<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        html,body {
            margin: 0 auto;
            padding: 0 auto;
        }
        
        form {
            margin: auto;
            border: 1px solid;
            background-color: whitesmoke;
            color: black;
            font-weight: bold;
            width: 70%;
        }
        p {
            font-family: Roboto;
            font-size: 40px;
            font-weight: bold;
            color: black;
        }

        #save {
            border: 2px solid black;
            padding: 10px 20px;
        }
    </style>
</head>

<body style="text-align:center;">
    <form action="/user/login" method="POST">
        <p> Register User</p>
        <label for="username"> Name </label> <br>
        <input id = "username" type="text" name="username"><br>
        <label for="password"> Username </label> <br> 
        <input id = "password" type="text" name="password"><br>
        <button type="submit">Masukkan</button>
    </form>
</body>

</html>