<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
  <form action="/user/login" method="POST">
<div class="login-box">
  <h1>Sign In</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input name="username" type="text" placeholder="Username">
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input name="password" type="password" placeholder="Password">
  </div>

  <input type="submit" class="btn" value="Welcome Back">

  <br><br><br><br>
  <a href="/user/register"> New to shareMe? </a>


</div>
</form>

  </body>
</html>
