<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
<div class="login-box">
  <h1>Create Your Account</h1>
  <div class="textbox">
    <i class="fas fa-user-ninja"></i>
    <input name="name" type="text" placeholder="Full Name">
  </div>

  <div class="textbox">
    <i class="fas fa-user"></i>
    <input name="username" type="text" placeholder="Username">
  </div>

  <div class="textbox">
    <i class="fas fa-envelope"></i>
    <input name="email" type="text" placeholder="Email">
  </div>
  
  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input name="password" type="password" placeholder="Password">
  </div>

  <input type="submit" class="btn" value="Register">
</div>
  </body>
</html>
